
.menu-item >.label  {
	-fx-text-fill: black;
}

.split-menu-button > .label{
	-fx-background-insets: 1 1 1 1;
    -fx-background-color: white;
    -fx-background-radius: 3.0 3.0 3.0 3.0;
}

.split-menu-button > .arrow-button {
    -fx-background-color: white;
    -fx-background-radius: 3.0 3.0 3.0 3.0;
}

.split-menu-button:hover  {
	-fx-background-color: lightblue;
}

.button:hover,
.split-menu-button > .arrow-button:hover,
.split-menu-button > .label:hover,
.menu-item:hover,
.menu-item:focused {
 	-fx-background-color: #F3F3F3;
}

.split-menu-button > .arrow-button:hover {
	-fx-animated: true;
}

.button:pressed,
.split-menu-button > .label:pressed,
.split-menu-button > .arrow-button:pressed,
.menu-item:pressed {
	-fx-background-color: #E5E5E5;
}


.split-menu-button > .arrow-button > .arrow {
    -fx-background-color: black;
    -fx-background-insets: 0.0 0.0 -1.0 0.0, 0.0;
    -fx-padding: 0.25em;
    -fx-shape: "M 0 -3.5 v 7 l 4 -3.5 z";
}
